<h1>Create a New Post</h1>

<%= form_with model: @post do |form|%>
	<label> Title : </label>
	<%= form.text_field :title%>
	<label> Text : </label>
	<%= form.text_area :body, size: "0x17"%>
	<%= form.submit "Create Post"%>
<%end%>